<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ojii</title>
    <meta name="description" content="The website of Jonas 'ojii' Obrist">
    <meta name="author" content="Jonas Obrist">
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29571122-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </head>

  <body>

    <div class="container">
      <div class="hero-unit">
        <h1>Jonas Obrist</h1>
        <p>Python enthusiast.</p>
        <p>
           <a href="https://www.github.com/ojii/" class="btn">GitHub</a>
           <a href="https://twitter.com/ojiidotch" class="btn">Twitter</a>
        </p>
      </div>
      {% for message in messages %}
        <div class="well">
            <span>{% include message.template %}</span>
            <span class="timestamp">{{ message.timestamp|timesince }}</span>
       </div>
      {% endfor %}
    </div>
  </body>
</html>
